---
layout: layouts/home.njk
---

<article>
  <h2>
    “他们所有的设备和仪器仿佛都是有生命的”
  </h2>
  <figure>
    <img src="https://z3.ax1x.com/2021/09/02/hsydKK.png">
    <figcaption class="en">
      The great pig in the sky.
    </figcaption>
  </figure>
  <br>
  <h3>我是工人。</h3>
  <p style="font-size: 18px;">工人（雇农在内）一般全无土地与工具，有些工人有极小部分的土地与工具，完全地或主要地以出卖劳动力为生。</p>
  <p style="font-size: 18px;">我的劳动力指前端开发，做的梦关于世界是一团乱码。集体有解，个人无解。</p>
</article>