<html>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Road+Rage&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <body>
    <header>
      {# <nav>
        <ul>
          <li><a>Github</a></li>
          <li><a>twwiter</a></li>
        </ul>
      </nav> #}
      <h1>林不笑</h1>
    </header>
    <main>
      {{content | safe}}
    </main>
    <footer>
      <p>
        <a>Github</a>
        <a>Weibo</a>
      </p>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FQFXW22KQR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FQFXW22KQR');
    </script>
  </body>
</html>